<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#E64848"/>
    <title>Kuliner Nusantara</title>
    <link rel="icon" href="./favicon.png">
  </head>
  <body>
    <a href="#content" class="skip-link">Skip to content ?</a>
    <header class="app-bar">
      <div class="app-bar__menu">
        <button type="button" aria-label="Toggle Menu" id="menu" class="hamburgerMenu">☰</button>
      </div>
  
      <div class="app-bar__brand">
        <img class="logo" src="./favicon.png" alt="Logo" tabindex="0">
        <h1>Kuliner Nusantara</h1>
      </div>
  
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li><a href="#/home">Home</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li><a href="https://github.com/Dionanda">About Us</a></li>
        </ul>
      </nav>
    </header>
  <!-- Jumbotron -->
  <div class="hero" style="background-image: linear-gradient(rgba(0, 0, 5, .5), rgba(0, 0, 5, .5)), url('images/heros/hero-image_4.jpg');" tabindex="0">
    <div class="hero-inner">
        <h1 class="hero-title" tabindex="0">Selamat Datang di Website Kuliner Nusantara</h1>
        <p class="hero-subtitle"><i tabindex="0">"Jelajahi Kelezatan Nusantara di Setiap Gigitan".</i></p>
    </div>
  </div>
  <!-- Content -->
  <main id="content">
      <section class="content">
          <div class="explore">
              <h1 class="explore-title" tabindex="0">Jelajahi Restoran</h1>
              <div class="explore-list" id="list"></div>
          </div>
      </section>
  </main>
  <!-- Footer -->
  <footer>
      <p tabindex="0">Copyright © 2023 - Kuliner Nusantara</p>
  </footer>
</body>
</html>
